

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 300px !important; /* Deja espacio para el menú lateral */
  }
  
  .title-container {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-primary);
    position: absolute;
    top: 40px;
    left: 300px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 110px 0 50px 0;
    width: 100%;
  }

  .feature {
    display: flex;
    align-items: center;
    background-color: var(--color-bg-page-alt);
    border-radius: 8px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    max-width: 900px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color:  var(--color-text-muted);
    justify-content: left;
    min-height: 60px;
    transition: 0.3s;
    cursor: pointer;
    gap: 20px;
  }

  .feature-icon i{
    font-size: xx-large;
    color:var(--color-text-muted);
  }

  .feature-description {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .feature-description h3 {
    margin: 0;
    font-size: 18px;
  }

  .feature p {
    margin: 0;
    font-size: 12px;
  }


  .feature .fa-caret-right {
    font-size: larger;
    color: var(--color-text-muted);
    margin-left: auto;
  }

  .feature:hover{
    background-color: var(--color-bg-body);
    transition: 0.3s;
  }



  /* Responsive design */
  @media (max-width: 600px) {
    body {
      padding-left: 0 !important;
    }

    .title-container {
      position: static;
      display: flex;
      align-items: center;
      margin-top: 80px;
      margin-left: 20px;
    }

    .main-container {
      margin: 20px 0 50px 0;
    }

    .feature {
      width: 90%;
    }
  }