

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 300px !important; /* Deja espacio para el menú lateral */
  }
  
  .title-container {
    font-size: 36px;
    font-weight: bold;
    color: #1D4ED8;
    position: absolute;
    top: 40px;
    left: 300px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
    width: 100%;
  }

  .feature {
    display: flex;
    align-items: center;
    background-color: #F1F5F9;
    border-radius: 8px;
    padding: 15px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    max-width: 900px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color:  #5e6c80;
    justify-content: left;
    min-height: 60px;
    transition: 0.3s;
    cursor: pointer;
    gap: 20px;
  }

  .feature-icon i{
    font-size: xx-large;
    color:#5e6c80;
  }

  .feature-description {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .feature-description h3 {
    margin: 0;
    font-size: 18px;
  }

  .feature p {
    margin: 0;
    font-size: 12px;
  }


  .feature .fa-caret-right {
    font-size: larger;
    color: #5e6c80;
    margin-left: auto;
  }

  .feature:hover{
    background-color: #E2E8F0;
    transition: 0.3s;
  }



  /* Responsive design */
  @media (max-width: 1024px) {

  }