
/* Estilos generales para el body */
body
{
  margin: 0;
  font-family: 'Instrument Sans', sans-serif;
  display: flex;
  background-color: #f8fafc;
}

h1
{
  color: #1d4ed8;
}

/* Estilos para el contenido principal */
.content
{
  flex: 1;
  padding: 20px;
  margin-top: 100px;
  margin-left: 270px;
  margin-right: 10px;
  background-color: #f1f5f9;
  border-radius: 15px;
  
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Encabezado del contenido */
.content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilos para la sección de descargas */
.download-section
{
  margin-top: 20px;
  display: flex;
  justify-content: flex-end; /* Esto alinea el botón a la derecha */
  padding: 10px; /* Añade algo de espacio alrededor */
}

.download-section button
{
  margin-right: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #2563eb;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.download-section button:hover
{
  background-color: #1d4ed8;
}

/* Estilos para la tabla de membresías */
.membership-table table
{
  width: 100%;
  border-collapse: collapse;
}

.membership-table th,
.membership-table td
{
  text-align: left;
  border-top: 1px solid #E2E8F0;    /* Borde superior */
  border-bottom: none; /* Borde inferior */
  border-left: none;            /* Quita borde izquierdo */
  border-right: none;           /* Quita borde derecho */
  padding: 10px;
  color: #0f172a;
}

.membership-table th
{
  font-weight: bold;
  border: none;
  color: #475569;
}

.aceptada, .pendiente, .rechazada
{
  background-color:  #10b981;  /* Color del fondo */
  color: #fff;                /* Color del texto */
  padding: 5px 10px;          /* Espaciado interno */
  border-radius: 15px;         /* Bordes redondeados */
  display: inline-block;      /* Para que el fondo se ajuste al contenido */
  font-size: 14px;
  text-decoration: none;      /* Opcional: quitar subrayado si es un enlace */
  font-weight: bold;
}

.pendiente
{
  background-color: #f59e0b;
}

.rechazada
{
  background-color:  #ef4444;
}

/* Estilos para el botón de descarga en la tabla */
.download-btn
{
  padding: 5px 10px;
  border: none;
  background-color:  #475569;
  color: #fff;
  cursor: pointer;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  transition: 0.1s;
}

.download-btn i {
  margin-left: 5px;
  font-size: large;
  color: #fff;
}

.download-btn:hover
{
  background-color: #293546;
  transform: scale(1.1);
  transition: 0.1s;
}

.action-cell button{
  display: flex;
  gap: 5px;
}