<div id="add-state-modal-form" class="modal">
    <div id="modal-form-content" class="modal-content">
        <span id="close-state-btn" class="close-modal">&times;</span>
        <div class="form-wrapper">
            <div class="form-box">
                <h3>Agregar estado</h3>
                <div id="estado-container">
                    <input id="estado" type="text" placeholder="Estado">
                    <select name="s_countrySelector" id="s_countrySelector">
                        <option value="" disabled selected>Selecciona un país</option>
                    </select>
                </div>
                <div class="accept-button-container">
                    <button id="acceptStateBtn" class="acceptBtn">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>