<div id="modal-form" class="modal">
    <div id="modal-form-content" class="modal-content">
    <span id="close-form" class="close-modal">
        &times;
    </span>

    <div class="form-wrapper">
        <div class="form-box">
        <h3>Agregar estado</h3>
        <div id="pais-container">
            <input id="pais" type="text" placeholder="Estado">
        </div>

        <div class="accept-button-container">
            <button id="acceptBtn" class="acceptBtn">Aceptar</button>
        </div>
        </div>
        
    </div>
    </div>
</div>