<div id="add-university-modal-form" class="modal">
    <div id="modal-form-content" class="modal-content">
        <span id="close-university-btn" class="close-modal">&times;</span>
        <div class="form-wrapper">
            <div class="form-box">
                <h3>Agregar universidad</h3>
                <div id="universidad-container">
                    <input id="universidad" type="text" placeholder="Universidad" data-translate-placeholder="profile_university">
                    <select name="u_countrySelector" id="u_countrySelector">
                        <option value="" disabled selected>Selecciona un país</option>
                    </select>
                </div>
                <div class="accept-button-container">
                    <button id="acceptUniversityBtn" class="acceptBtn">Aceptar</button>
                </div>
            </div> 
        </div>
    </div>
</div>