<div class="sidebar">
    <div>
        <div class="sidebar-header">
            <div class="sidebar-title">
                <span class="sidebar-title-bold" data-translate="sidebar-title">REDMIS</span>
                <span class="sidebar-title-normal" data-translate="sidebar-admin">| Admin</span>
            </div>
            <div class="hide-sidebar-container">
                <button id="hide-sidebar"> ☰ </button>
            </div>
        </div>
        <hr class="sidebar-separator">
        <div class="sidebar-menu">
            <a class="sidebar-menu-item" href="profile.html">
                <div class="sidebar-icon-bg"><img src="../assets/img/AltaDeAdministrador_Azul.svg" alt="Perfil"></div>
                <span data-translate="sidebar-profile">Perfil</span>
            </a>
            <a class="sidebar-menu-item" href="memberships.html">
                <div class="sidebar-icon-bg"><img src="../assets/img/membresia.png" alt="Membresía"></div>
                <span data-translate="sidebar-memberships">Membresía</span>
            </a>
            <a class="sidebar-menu-item" href="applications.html">
                <div class="sidebar-icon-bg"><img src="../assets/img/SolicitudesDeMembresias_Azul.svg" alt="Solicitudes de Membresías"></div>
                <span data-translate="sidebar-applications">Solicitudes de membresías</span>
            </a>

            <a class="sidebar-menu-item" href="admin_registration.html">
                <div class="sidebar-icon-bg"><img src="../assets/img/AltaDeAdministrador_Azul.svg" alt="Alta de Administrador"></div>
                <span data-translate="sidebar-admin-registration">Alta de Administrador</span>
            </a>
            
            
            
            <a class="sidebar-menu-item" href="statistics.html">
                <div class="sidebar-icon-bg"><img src="../assets/img/Estadisticas_Azul.svg" alt="Estadísticas"></div>
                <span data-translate="sidebar-statistics">Estadísticas</span>
            </a>
            <a class="sidebar-menu-item" href="members.html">
                <div class="sidebar-icon-bg"><img src="../assets/img/Miembros_Azul.svg" alt="Miembros"></div>
                <span data-translate="sidebar-members">Miembros</span>
            </a>

            <a class="sidebar-menu-item" href="settings.html">
                <div class="sidebar-icon-bg"><img src="../assets/img/settings-icon.svg" alt="Agregar"></div>
                <span data-translate="sidebar-settings">Ajustes</span>
            </a>
        </div>
    </div>
    <button id="logout-button" class="sidebar-logout-button" type="button">
        <div class="sidebar-icon-bg"><img src="../assets/img/CerrarSesion_Azul.svg" alt="Cerrar sesión"></div>
        <span data-translate="sidebar-logout">Cerrar sesión</span>
    </button>
</div>